.footer {
    width: 100%;
    height: 209px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;    
    margin-top: 60px;
    margin-bottom: 0;
}

.footer__img {
    margin-bottom: 10px;
}

.footer__text {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #FFF;
}

@media (max-width: 481px) {
    .footer {
        justify-content: center;
    }
    .footer__text {
        font-size: 0.75em;
    }
}
