.banner {
    width: 85%;
    margin: 60px auto;
    height: 223px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: 1;
}

.banner__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-area: 1 / 1 / 4 / 4;
    position: relative; 
}

.banner__text {
    font-size: 3em;
    font-weight: 500;
    color: white;
    margin: auto;
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
    z-index: 2;
}