.header {
    width: 85%;
    margin: 40px auto;
    height: 68px;
    display: flex;
    justify-content: space-between;
}

.header__menu{
    align-items: center;
    list-style: none;
    display: flex;
    font-size: 1.5em;
    width: 270px;
    justify-content: space-between;
    color: #FF6060;
    padding: 0;
}

