@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

html ,body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;
    width: 100vw; 
    overflow-x: hidden;
}
