.gallery{
    margin: auto;
    background-color: #F7F7F7;
    width: 85%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 918px) {
    .gallery {
        background-color: transparent;
    }
}