.text__container {
    min-width: 115px;
    height: 27px;
    background-color: #FF6060;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 10px;
}

.text {
    color: #FFF;
    margin: 5px;
    font-size:  0.875em;
}