.carrousel__container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
    height: 415px;
    margin: auto;
    border-radius: 25px;
}

.arrow {
    width: 50px;
    height: 80px;
}

.arrow--left {
    position: relative;
    z-index: 3;
    margin: auto;
    grid-area: 2 / 1 / 3 / 2;
    transform: rotate(90deg);
}

.arrow--right {
    margin: auto;
    grid-area: 2 / 8 / 3 / 9;
    transform: rotate(-90deg);
}

.house__img {
    grid-area: 1 / 1 / 4 / 9;
    object-fit: cover;
}