.collapseHouse__container {
    width: 47%;
    margin: 0;
    margin-bottom: 50px;
}

.collapseHouse {
    height: 52px;
    background-color: #FF6060;
    color: #fff;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 2;
}

.collapseHouse__title {
    margin-left: 20px;
    font-size:  1.125em;
}

.collapseHouse__button {
    margin-right: 20px;
    height: 32px;
    width: 32px;
}

.collapseHouse__button--open {
    transform: rotate(180deg);
}

.collapseHouse__text__container {
    border-radius: 5px;
    background: #F6F6F6;
    color: #FF6060;
    overflow-wrap: break-word;  
    position: relative;
    top: -10px;
    z-index: 0;
    min-height: 240px;
}

.collapseHouse__text{
    margin-top: 0;
    font-size:  1.125em;
    padding: 25px;
}

@media (max-width: 847px) {
    .collapseHouse__container{
        width: 100%;
        margin-bottom: 20px;    }
    .collapseHouse {
        height: 30px;
    }
    .collapseHouse__title {
        font-size: .8125em;
    }
    .collapseHouse__text__container{
        min-height: 145px;
    }
    .collapseHouse__text{
        font-size: .75em;
    }
}