.house__container {
    width: 85%;
    min-height: 70vh;
    margin: auto;
}

.houseCollapse {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

@media (max-width: 847px) {
    .houseCollapse{
        flex-direction: column;
    }
}