.info__container {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 60%;
}

.secondary {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
    width: 80vw;
}

.title, .location {
    font-weight: 500; 
    color: #FF6060;
    margin: 0;
}

.title {
    font-size: 2.25em;
}

.location {
    font-size: 1.125em;
    margin-top: 5px;
}

@media (max-width: 847px) {
    .info__container {
        flex-direction: column;
    }
    .main {
        width: 100%;
    }

    .secondary {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

}

@media (max-width: 481px) {
    
    .title {
        font-size: 1.125em;
    }
}