.container {
    width: 70%;
}

.tags {
    display: flex;
    justify-content: left;
    margin-top: 40px;
}

.title, .location {
    font-weight: 500; 
    color: #FF6060;
}

.title {
    font-size: 2.25em;
    margin-bottom: 0;
}