.text__container {
    min-width: 125px;
    max-height: 30px;
    background-color: #FF6060;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 10px;
}

.text {
    color: #FFF;
    margin: 5px;
    font-size:  0.875em;
    text-align: center;
}


@media (max-width: 481px) {
    .text__container {
        margin-bottom: 10px;
    }

    .text {
        font-size: 0.625rem;
        margin: 5px;
    }
}
