.collapsesGeneral__container {
    min-height: 70vh;
}

.collapse__container {
    width: 75%;
    margin: auto;
    margin-bottom: 30px;
}

.collapse {
    height: 47px;
    background-color: #FF6060;
    color: #fff;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 2;
}

.collapse__text {
    margin-left: 20px;
    font-size: 1.5em;
}

.collapse__button {
    margin-right: 20px;
    height: 32px;
    width: 32px;
}

.collapse__button--open {
    transform: rotate(180deg);
}

.description {
    border-radius: 5px;
    background: #F6F6F6;
    color: #FF6060;
    overflow-wrap: break-word;  
    position: relative;
    top: -10px;
    z-index: 0;
}

.description__text{
    margin-top: 0;
    font-size: 1.5em;
    padding: 25px;
}

@media (max-width: 481px) {
    .collapse__container{
        width: 85%;
        margin-bottom: 20px;
    }
    .collapse {
        height: 30px;
    }
    .collapse__text {
        font-size: 0.8125em;
    }
    .collapse__button{
        width: 18px;
        height: 18px;
    }
    .description__text{
        font-size: 0.75em;
    }
}